body {
  padding-top: 70px;
  background: url("homepage.jpeg") center/cover no-repeat;
}

.custom-navbar {
  background: rgba(84, 81, 81, 0.6);
    backdrop-filter: blur(10px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* ukuran strip */
.preview-wrapper {
  width: 260px;
}

.frame {
  padding: 12px;
  border-radius: 18px;
}

/* contoh frame */
.frame-1 { background: linear-gradient(135deg, #ff9a9e, #fad0c4); }
.frame-2 { background: linear-gradient(135deg, #a18cd1, #fbc2eb); }
.frame-3 { background: linear-gradient(135deg, #43cea2, #185a9d); }

/* grid 2x3 */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.grid img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 8px;
}

.frame-options {
  display: flex;
  gap: 10px;
}

.frame-options button {
  padding: 6px 14px;
  border: none;
  border-radius: 20px;
  background: #333;
  color: white;
}

.download-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  background: #6c5ce7;
  color: white;
  font-size: 16px;
}
